/* ==========================================================================
   Start  CSS 
   ========================================================================== */

.hrt-8px {
  height: 8px;
}
.hrb-8px {
  height: 8px;
}
.hrt-10px {
  height: 10px;
}
.hrb-10px {
  height: 10px;
}
.hrt-16px {
  height: 16px;
}
.hrb-16px {
  height: 16px;
}
.hrt-40px {
  height: 40px;
}
.hrb-40px {
  height: 40px;
}

.popup-body::-webkit-scrollbar,
aside::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 6px;
}
.popup-body::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: rgb(218, 218, 218);
  border-radius: 10px;
}
.popup-body::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}
.popup-body::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}
.popup-body::-webkit-scrollbar-thumb:active,
aside::-webkit-scrollbar-thumb:active,
html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}
body {
  color: #686d79;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Inter, sans-serif;
  background-color: #f9f9fa;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #0b1729;
  font-family: "Gilroy", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 34px;
  line-height: 48px;
}
h2 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  padding: 0 0 15px;
}
h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 10px;
}

p {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #686d79;
  /* font-size: 16px; */
  font-weight: 500;
}
a {
  color: #0019f9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
}

.order-summary .section-title {
  width: 100%;
}
.section-sub-title {
  padding-top: 10px;
}
img {
  display: inline-block;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}
.btn {
  color: #0019f9;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: rgba(0, 25, 249, 0.1);
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin: 8px 0;
}
.btn:hover {
  background-color: #0019f9;
  text-decoration: none;
  color: #fff;
}
.btn-next {
  color: #0019f9;
  background-color: rgba(0, 25, 249, 0.1);
}
.btn-primary {
  /* position: static; */
  /* left: auto; */
  /* top: 0%; */
  /* right: 0%; */
  /* bottom: auto; */
  /* display: block; */
  /* width: 100%; */
  /* height: 56px; */
  /* padding: 16px 20px; */
  border: 0px none;
  /* border-radius: 8px; */
  background-color: #0019f9;
  /* box-shadow: none; */
  /* font-family: Gilroy, sans-serif; */
  color: #fff;
  /* font-size: 18px; */
  /* font-weight: 700; */
  text-align: center;
}
.many-save {
  color: #fff;
  padding: 0px 6px;
  border-radius: 4px;
  background-color: #02ca66;
  /* margin: 0 15px; */
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  margin: 0 auto;
  align-items: flex-start;
  padding: 0 40px;
  /* min-width: 600px; */
}

.header-page {
  background: #fff;
}
.header-page .wrap {
  max-width: 1240px;
  margin: 0px auto 30px;
  padding: 20px;
}

/*  forms ----------------------------------------- */
/*  forms global */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
}
.required-element {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #e8e7ec;
}
/* .required-element:before {
  content: "\f071";
} */
.required-element:before {
  content: "\10f071";
  color: #ff6b00;
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
  margin: 0 5px 0 0;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"] {
  /* border: 2px solid rgba(0, 0, 0, 0.15); */
  /* border-radius: 5px; */
  position: relative;
  /* font-weight: 600; */
  width: calc(100% - 24px);
  height: 32px;
  /* border: none; */
  /* padding: 0 10px; */
  box-shadow: none;
  outline: none;
  display: block;
  /* height: 48px; */
  margin-bottom: 0px;
  /* padding-top: 7px; */
  border: 1px solid #e8e7ec;
  border-radius: 6px;
  background-color: #fff;
  /* font-weight: 600; */
  padding: 8px 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input[type="date"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover {
  border-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
  border-color: #4285f4;
  box-shadow: 0 0 10px rgba(66, 133, 244, 0.5);
}

.form-radio {
  display: block;
  margin: 0 0 12px 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px 2px rgb(11 23 41 / 10%);
  /* flex-direction: column; */
  /* width: 100%; */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  /* position: absolute; */
}
.form-radio input[type="radio"] {
  display: none;
  /* width: 0px; */
  /* height: 0px; */
}
.form-radio label {
  color: #0b1729;
  font-weight: 600;
  /* margin: 0 0 6px; */
  /* display: block; */
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 24px 16px 44px;
  /* margin: 0 0 10px 0; */
  /* min-height: 35px;*/
  position: relative;
}
.form-radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  margin: -3px 6px -3px -20px;
  border: 2px solid #6880b7;
  border-radius: 50px;
  width: 14px;
  height: 14px;
}

/* Checked */
.form-radio input[type="radio"]:checked + label:before {
  border: 7px solid #0019f9;
  border-radius: 50px;
  width: 4px;
  height: 4px;
}

/* Hover */
.form-radio label:hover:after {
  filter: brightness(120%);
}

/* Disabled */
.form-radio input[type="radio"]:disabled + label:before {
  filter: grayscale(100%);
}

/* end forms global */

/*acordion */

.acordion input + label + div {
  height: 0;
  padding: 0 30px;
  margin: 0;
  overflow: hidden;
  background: #fff;
}

.acordion input:checked + label + div {
  height: auto;
  padding: 0 15px 15px;
  /* margin: 0 15px 15px; */
  overflow: hidden;
  /* background: #fff; */
}

.forms-step .acordion input:checked + label + div {
  height: auto;
  padding: 8px 25px 8px 25px;
  margin: 0 31px 15px 50px;
  overflow: hidden;
}

.acordion > input + label {
  background-color: #fff;
  transition: color 0.35s;
  cursor: pointer;
  display: flex;
  color: #0b1729;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
  align-items: center;
  padding: 15px 15px 15px 15px;
  margin: 10px 0 0px 0;
  justify-content: space-between;
  flex-direction: row;
  font-size: 17px;
}
.acordion input:checked + label {
  cursor: default;
}
.acordion > input {
  display: none;
}
.acordion > label:after {
  content: "\f054";
  float: right;
  transition: transform 0.35s;
  margin-left: auto;
  font-family: "Font Awesome 5 Pro";
  margin: 0 10px;
  font-weight: 400;
}

.acordion input:checked + label:after {
  transition: transform 0.35s;
  transform: rotate(90deg);
  margin-left: auto;
  float: right;
}

/* end acordion */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.select {
  /* display: grid; */
  /* grid-template-areas:
    "select"; */
  /* align-items: center; */
  position: relative;
  /* min-width: 15ch; */
  /* max-width: 30ch; */
  /* border: 2px solid var(--select-border); */
  /* border-radius: 0.25em; */
  padding: 14px 0.5em;
  /* font-size: 1.25rem; */
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  border: 1px solid #e8e7ec;
  /* border-radius: 5px; */
  border-radius: 8px;
  /* width: 100%; */
}
.select select,
.select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  /*
      * Safari will not reveal an option
      * unless the select height has room to 
      * show all of it
      * Firefox and Chrome allow showing 
      * a partial option
      */
  height: 6rem;
  /* 
      * Experimental - styling of selected options
      * in the multiselect
      * Not supported crossbrowser
      */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 15px;
  font-weight: 500;
  /* display: block; */
  /* margin-bottom: 4px; */
  color: #0b1729;
  /* font-size: 16px; */
  /* line-height: 20px; */
  font-weight: 600;
}

.select + label {
  margin-top: 2rem;
}

/* --------------------*/

.check {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 10px;
  height: 10px;
}
.check + label {
  cursor: pointer;
}
.check:not(checked) {
  position: absolute;
  opacity: 0;
}
.check:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
  background-color: transparent;
}
.check:not(checked) + label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 40px;
  height: 9px;
  border-radius: 10px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.check:not(checked) + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  /* width: 20px; */
  /* height: 20px; */
  /* border-radius: 10px; */
  /* border: 9px #0019f9 solid; */
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  border: 7px solid #0019f9;
  border-radius: 50px;
  width: 4px;
  height: 4px;
}
.check:checked + label:before {
  background: #e0e3fa;
}
.check:checked + label:after {
  left: 20px;
}
