

/* ================================================ */


.modal-choose-phone-number {
  position: fixed;
  opacity: 0;
  top: 3000px;
  z-index: 409;
  /* display: none; */
  /* overflow: visible; */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10090;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgb(11 23 41 / 41%);
  cursor: auto;
  width: 100%;
}



.modal-search-number.popup-bg {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.modal-search-number {
  overflow: auto;
  width: 57px;
  height: 100vw;
  padding: 48px;
  background-color: #f9f9fa;
}
.popup-bg {
  display: block;
  width: 539px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #fff;
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  -ms-border-radius: 24;
  -o-border-radius: 24;
}


.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: #ffffff;
  padding: 15px 0px 6px 0;
  /* width: 100%; */
  /* margin: auto 35px; */
}

.modal-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 40;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-4-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gilroy, sans-serif;
  color: #0b1729;
  font-size: 32px;
  line-height: 48px;
}

.ic-close {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 100px;
  cursor: pointer;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.tabs_menu {
  margin: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-radius: 14px;
  background-color: #efeff1;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  text-align: center;
  -o-border-radius: 14px;
}

.by-area-code.current-tab {
  overflow: visible;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 14%);
  cursor: pointer;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -ms-border-radius: 10;
  -o-border-radius: 10;
}

.by-area-code {
  width: 50%;
  padding: 9px12px;
  background-color: #efeff1;
}

.by-toll-free {
  width: 50%;
  padding: 9px 12px;
  background-color: transparent;
  cursor: pointer;
}


.by-city {
  /* display: none; */
  width: 33%;
  padding: 9px 12px;
  background-color: transparent;
  cursor: pointer;
}

.phone-numbers-empty-state {
  opacity: 0;
  display: block;
  display: none;
  height: 312px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}






/* ============================= */


/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: inherit;
}
body.compensate-for-scrollbar {
  overflow: hidden;
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  /* position: relative; */
  width: auto;
  /* margin: 10px; */
  /* height: 100vh; */
}

@media (min-width: 576px) {
  .modal-dialog {
    /* max-width: 500px; */
    /* margin: 30px auto; */
  }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* background-color: #fff; */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, .2); */
  /* border-radius: .3rem; */
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  }
}

/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* padding: 40px; */
  overflow: auto;
  width: 100%;
}

.modal-content {margin-right: 40px;margin-left: 40px;}
.fa-times:before {
  content: "\f00d";
  color: #000;
  float: right;
  margin: -54px -73px 0;
}






