/* order-summary ---------------------------------- */






.order-summary {
  overflow: auto;
  /* position: sticky; */
  position: -webkit-sticky;
  /* position: sticky; */
  /* top: 0; */
  /* top: 0; */
  position: sticky;
  top: 1%;
  max-width: 350px;
  padding: 24px 20px 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* column-gap: 25px; */
  margin-left: 8%;
  max-height: 81vh;
 
}
.forms-step {
  counter-reset: my-awesome-counter;
}
.forms-step > article > .section-title {
  counter-increment: my-awesome-counter;
}

.forms-step > article > .section-title::before {
  content: counter(my-awesome-counter);
  /* background: #662974; */
  /* width: 2rem; */
  /* height: 2rem; */
  border-radius: 50%;
  display: inline-block;
  /* line-height: 2rem; */
  color: #0b1729;
  text-align: center;
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
  background-color: #d9d9d9;
}


.order-summary .wrap {
  margin: 0 0 20px 0;
}
.order-summary section {
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  padding: 0 20px;
  margin: 0 0 17px;
  /* width: calc(50% - 56px); */
}
ul.product-list li {
  display: flex;
  border-bottom: solid 1px #cbcbcb;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: flex-start;
  gap: 15px;
}
.product-item .product-image {
  width: 63px;
}
.product-item .product-info {
}
.product-item .product-info .product-title {
  color: #0b1729;
  font-weight: bold;
}
.product-item .product-info .product-tooltip {
}
.product-item .product-info .product-description {
}
.product-item .product-price {
  font-weight: 600;
  margin-left: auto;
}

.taxes-fees {
}
.taxes-fees .user-zipcode {
  color: #0b1729;
  font-weight: 500;
}
.taxes-fees .tax-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.taxes-fees .tax-item .tax-name {
}
.taxes-fees .tax-item .tax-price {
  font-weight: bold;
}

.total-item {
  display: flex;
  font-weight: bold;
  color: #0b1729;
  flex-wrap: wrap;
  padding: 16px 20px 20px;
  border-radius: 8px;
  background-color: #dee4f1;
}
.total-item .total-name {
}
.total-item .total-price {
  margin-left: auto;
}
.total-item .total-text {
  width: 100%;
  font-size: 16px;
}

.order-summary .money-back {
  color: #0b1729;
  font-weight: bold;
  width: 100%;
}
.money-back::before {
  content: "0";
}

/* end order-summary ---------------------------------- */

/* step forms ----------------------------------------- */

.forms-step {
  /* font-size: 15px; */
  width: 100%;
}
.forms-step .section-title {
  padding: 24px 0px 8px;
  border-bottom: solid 1px #cbcbcb;
  margin: 29px 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #0b1729;
  display: flex;
  background: transparent;
  font-family: 'Gilroy', sans-serif;
  align-items: center;
}
.forms-step .acordion input:checked + .section-title + div {
  background-color: transparent;
  padding: 0px;
  /* margin: 0 15px 15px; */
}
.forms-step .section-title::after {
}

.forms-step .form-radio {
  /* display: flex; */
  /* min-height: 35px; */
  /* margin: 6px 0px; */
  /* border: 1px; */
  /* padding: 16px 20px; */
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px 2px rgba(11, 23, 41, 0.03);
  /* flex-direction: column; */
  width: 100%;
  /* overflow: hidden; */
  /* height: auto; */
  /* transition-duration: 0.5s; */
}
.forms-step input[type="radio"] {
}
.forms-step .form-radio label {
  color: #0b1729;
  font-weight: 600;
  /* margin: 0 0 6px; */
  /* display: block; */
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 100%; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* padding: 16px 24px 16px 40px; */
  /* min-height: 35px; */
}
.forms-step input + label + div {
  padding: 0;
  /* height: 0; */
  display: flex;
  /* gap: 10px; */
  font-weight: bold;
  color: #0b1729;
  /* padding: 16px 20px 20px; */
  border-radius: 8px;
  background-color: #dee4f1;
  -webkit-border-radius: 8px;
  /* margin: 0 15px 15px; */
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* width: 100%; */
  /* border: 1px; */
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  /* transition-duration: 0.5s; */
  /* transition: hight 0.5s; */
}
h4.your-plan-include {
  padding: 30px 0 0;
}
.plan-include {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  padding-left: 0;
}
.forms-step .plan-include li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding: 7px 0;
}
.forms-step .plan-include li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #02ca66;
  padding: 0 10px 0 0;
}
.forms-step label + .phonenumber-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* рardware-selection */
.list-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}
.list-img img {
  width: 16%;
  transition: all 200ms ease-in;
  transform: scale(1);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
}
.list-img img:hover {
  border-radius: 15px;
  background-color: #fff;

  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.5);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -o-transition: all 200ms ease-in;
}

/* end рardware-selection */

.forms-step label .billed-annually {
  /* margin-left: auto; */
}

article.phonenumber-selection {
  /* display: flex; */
  gap: 15px;
}

/* end step forms ----------------------------------------- */
form.payment,
form.billing-address,
form.shipping-info,
form.account-details {
  display: flex; /* gap: 15px; */
  flex-direction: row;
  flex-wrap: wrap;
}

form.payment label,
form.billing-address label,
form.shipping-info label,
form.account-details label {
  width: 45%;
  margin: 0px 15px 15px 0px;
}
