/* order-summary ---------------------------------- */






.order-summary {
  /* overflow: auto; */
  /* position: sticky; */
  /* position: sticky; */
  /* top: 0; */
  /* top: 0; */
  /* position: sticky; */
  /* top: 1%; */
  width: 363px;
  min-width: 256px;
  padding: 23px 32px 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* column-gap: 25px; */
  margin-left: 55px;
  /* max-height: 90vh; */
}
.forms-step {
  counter-reset: my-awesome-counter;
}
.forms-step > article > .section-title {
  counter-increment: my-awesome-counter;
}

.forms-step > article > .section-title::before {
  content: counter(my-awesome-counter);
  border-radius: 50%;
  display: inline-block;
  color: #0b1729;
  text-align: center;
  margin-right: 17px;
  width: 32px;
  height: 32px;
  background-color: #e8e7ec;
  font-size: 20px;
  font-weight: 800;
}


.order-summary .wrap {
  /* margin: 7px 0 16px 0; */
}
.order-summary section {
  /* border: 1px solid #cbcbcb; */
  /* border-radius: 15px; */
  /* padding: 0 20px; */
  /* margin: 0 0 17px; */
  /* width: calc(50% - 56px); */
}
ul.product-list li {
  display: flex;
  border-bottom: solid 1px #cbcbcb;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: flex-start;
  gap: 0px;
}
.product-item .product-image {
  width: 48px;
  margin-right: 13px;
}
.product-item .product-info {
}
.product-item .product-info .product-title {
  color: #0b1729;
  font-weight: bold;
}
.product-item .product-info .product-tooltip {
}
.product-item .product-info .product-description {margin-bottom: 0px;}
.product-item .product-price {
  font-weight: 600;
  margin-left: auto;
}



.tax-service.acordion {
  
margin: 0 0 -8px;
}
.tax-service.acordion > input + label {
    padding: 2px 0px 3px;
    display: block;
    font-size: 16px;
}
.tax-service.acordion > input + label {
  padding: 2px 0px 3px;
  display: block;
  font-size: 16px;
}
/* .tax-service.acordion > label:after {
  content: "\f053";
  float: none;
  transition: transform 0.35s;
  margin-left: auto;
  font-family: "Font Awesome 5 Pro";
  margin: 0 10px;
  font-weight: 400;
} */
/* .tax-service.acordion > input:checked  {
  content: "\f053";
  float: none;
  transition: transform 0.35s;
  margin-left: auto;
  font-family: "Font Awesome 5 Pro";
  margin: 0 10px;
  font-weight: 400;
} */

.tax-service.acordion > input + label .tax-price {
    float: right;
    color: #686d79;
    font-weight: 600;
}


.tax-service.acordion > input + label + div {
  padding: 2px 0px 3px;
}

.taxes-fees {
}
.taxes-fees .user-zipcode {
  color: #0b1729;
  font-weight: 500;
  font-size: 15px;
}
.taxes-fees .tax-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.taxes-fees .tax-item .tax-name {font-size: 15px;/* line-height: 35px; */padding: 7px 0 0;}
.taxes-fees .tax-item .tax-price {
  font-weight: bold;
  line-height: 33px;
}

.total-item {
  display: flex;
  font-weight: bold;
  color: #0b1729;
  flex-wrap: wrap;
  padding: 18px 20px 20px;
  border-radius: 8px;
  background-color: #dee4f1;
  margin-top: 26px;
  margin-bottom: 15px;
}
.total-item .total-name {
}
.total-item .total-price {
  margin-left: auto;
}
.total-item .total-text {
  width: 100%;
  font-size: 16px;
  padding: 12px 0 0;
  margin: 0;
}

.order-summary .money-back {
  color: #0b1729;
  font-weight: bold;
  width: 100%;
  margin: 0 0 16px;
}
.money-back::before {
  content: "0";
}



/* end order-summary ---------------------------------- */

/* step forms ----------------------------------------- */

.forms-step {
  max-width: 678px;
  min-width: 400px;
}

.forms-step article p {
  
font-size: 15px;
  
margin-bottom: 8px;
}
.forms-step article {

margin-bottom: 35px;
}
.forms-step article h4 {

font-size: 21px;

}
.forms-step article .required-element {
  
margin: 8px 0 8px 0px;
}



.forms-step .section-title {
  padding: 24px 0px 15px;
  border-bottom: solid 1px #cbcbcb;
  margin: 0px 0 28px 0;
  font-size: 28px;
  line-height: 32px;
  background-color: transparent;
}
.forms-step .acordion input:checked + .section-title + div {
  background-color: transparent;
  padding: 2px;
  margin: 0 0px 0px;
}
.forms-step .section-title::after {margin-left: auto;float: right;}

.forms-step .form-radio {
  /* display: flex; */
  /* min-height: 35px; */
  /* margin: 6px 0px; */
  border: 1px;
  /* padding: 16px 20px; */
  background-color: #fff;
  border-radius: 6px;
  /* box-shadow: 0 2px 6px 2px rgb(11 23 41 / 12%); */
  /* flex-direction: column; */
  width: 100%;
}
.forms-step .form-radio:hover {

background-color: #fff;

box-shadow: 0 2px 7px 0 rgb(0 25 249 / 16%), 0 0 0 1px #0019f9;
}



.forms-step input[type="radio"] {
}
.forms-step .form-radio label {
  color: #0b1729;
  font-weight: 600;
  /* margin: 0 0 6px; */
  /* display: block; */
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 100%; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* padding: 16px 24px 16px 40px; */
  /* min-height: 35px; */
}
.forms-step input + label + div {
  padding: 0;
  /* height: 0; */
  display: flex;
  /* gap: 10px; */
  font-weight: bold;
  color: #0b1729;
  /* padding: 16px 20px 20px; */
  border-radius: 8px;
  background-color: #dee4f1;
  -webkit-border-radius: 8px;
  /* margin: 0 15px 15px; */
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* width: 100%; */
  /* border: 1px; */
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.forms-step input + label + div.shipping-address {
  padding: 0;
  /* height: 0; */
  display: flex;
  /* gap: 10px; */
  font-weight: bold;
  color: #0b1729;
  /* padding: 16px 20px 20px; */
  border-radius: 8px;
  background-color: #dee4f1;
  -webkit-border-radius: 8px;
  margin: 0 15px 15px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* width: 100%; */
  /* border: 1px; */
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
h4.your-plan-include {
  padding: 20px 0 0;
}
.plan-include {
  /* display: flex; */
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  padding-left: 0;
  margin: 14px 0;
  flex-wrap: wrap;
}
.forms-step .plan-include li {
  display: flex;
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding: 4px 0;
}
.forms-step .plan-include li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #02ca66;
  padding: 0 10px 0 0;
}

.forms-step label + .phonenumber-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* рardware-selection */
.list-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  margin: 0 0px;
  /* position: relative; */
  /* z-index: 10; */
}
.list-img img {
  width: 12%;
  transition: all 200ms ease-in;
  transform: scale(1);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  border-radius: 15px;
  background-color: #fff;
  margin: 15px;
  /* position: relative; */
  /* z-index: 10; */
}
.list-img img:hover {
  /* border-radius: 15px; */
  /* background-color: #fff; */
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.5);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -o-transition: all 200ms ease-in;
}

/* end рardware-selection */

.forms-step label .billed-annually {
  /* margin-left: auto; */
}

article.phonenumber-selection {
  /* display: flex; */
  gap: 15px;
}

/* end step forms ----------------------------------------- */
form.payment,
form.billing-address,
form.shipping-info,
form.account-details {
  display: flex;
  /* gap: 15px; */
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
  width: 71%;
}



.billing-address.acordion {}

.billing-address.acordion input:checked + label + div {
  /* height: auto; */
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background-color: transparent;
}





.acordion > input + .title {


}

.title {}





.acordion .check-billing-address  {}

form.payment{
    margin: 0px 0px 9px;
}



form.payment label,
form.billing-address label,
form.shipping-info label,
form.account-details label {
  width: calc(50% - 10px);
  margin: 0px 10px 15px 0px;
}

form.shipping-info label.form-select-state,
form.shipping-info .address-line-1,
form.shipping-info .address-line-2,
form.account-details label.form-select-state,
form.account-details label.select-hear-about {
    width: calc(100% - 0px);
}

/* ============= */


.forms-step .acordion.payment-selection input + label + div {
    display: block;
}
.forms-step .acordion.payment-selection .btn {
    width: 70%;
}

.element-secure-payment {text-align: center;width: 75%;}
.txt-service-and-privacy{/* text-align: center; *//* width: 98%; */margin: 10px 0 0;}





.credit-card-block {position: relative;margin-bottom: 20px;/* width: 154px; */}
.credit-card-block .back-credit-card, 
.credit-card-block .credit-card {
    position: absolute;
    width: 398px;
    min-width: 300px;
    height: 207px;
    padding: 40px 40px 56px;
    border-radius: 24px;
    background-color: #edf2f7;
    /* background-image: none; */
    box-shadow: inset 0 0 0 1px #ccd2e8, 8px 5px 10px -6px rgba(0, 0, 0, 0.06);
    /* font-family: 'Droid Sans', sans-serif; */
    /* color: #ea4c46; */
    /* font-size: 12px; */
    /* text-align: center; */
    z-index: 50;
}
.credit-card-block .credit-card .header-card {
    font-size: 20px;
    /* height: 44px; */
    /* display: block; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    -ms-flex-pack: justify;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.credit-card-block .back-credit-card {
    position: static;
    /* width: 480px; */
    /* height: 304px; */
    margin-left: 164px;
    /* padding: 40px 40px 56px; */
    /* border-radius: 24px; */
    /* background-color: #ebf1f7; */
    /* background-image: none; */
    /* box-shadow: inset 0 0 0 1px #ccd2e8, 0 11px 6px -6px rgba(0, 0, 0, 0.06); */
    /* font-family: 'Droid Sans', sans-serif; */
    /* color: #ea4c46; */
    /* font-size: 12px; */
    /* text-align: center; */
}


.credit-card .card-number {
    margin-top: 24px;
    display: block;
    width: 100%;
}

.credit-card .exp-date{
    margin-top: 15px;
    display: block;
    width: 49%;
}


.back-credit-card .security-code {
    position: absolute;
    bottom: 28px;
    right: 33px;
    width: 102px;
}






